body{
	
	background: red;	
<<<<<<< HEAD
<<<<<<< HEAD
	color: blue;
	line-height: 20;
=======
>>>>>>> parent of 54af1f7... Modification de tous les fichiers
=======
>>>>>>> parent of 54af1f7... Modification de tous les fichiers
}